<%- include('partials/header') -%>
    <h1>Booking</h1>
    <form action="/book/<%=info.parkingSpaceId%>" method="post" class="fluid">
    <div class="book-container">
        <div class="book-left-container">
            
                <div>
                    <h2>Account Info</h2>
                    <h6>Confirm Email Address</h6>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" value="<%=info.email%>" name="email">
                    </div>
                    <h6>Phone</h6>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" id='phone' name="phone" value="<%=info.phone%>">
                    </div>
                </div>
                <div>
                    <h2>Reservation Details</h2>
                    
                    <h6>Vehicle Details</h6>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <input type="text" class="form-control" value="" name="makeModel" id="makeModel" placeholder="Make and Model">
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" value="" name="licensePlate" id="licensePlate" placeholder="License Plate">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" value="" name="province" id="province" placeholder="Province">
                        </div>
                    </div>
                    
                </div>  
                
           
        </div>
        <div class="book-right-container">
            <div>
                <h2>Slot information</h2>
                <h5><%=listingDetails.addressLine1%></h5>
                <p><%=listingDetails.city%> - <%=listingDetails.province%> - <%=listingDetails.zipcode%></p>
            </div>
            <div>
                <h2>Reservation Details</h2>
                <table>
                    <tr>
                        <td>Enter Before</td>
                        <td><span class="fa-solid fa-arrow-right"></span></td>
                        <td>Exit After</td>
                    </tr>
                    <tr>
                        <td>
                            <h4><%=new Date(session.fromTs).toDateString()%></h4>
                            <h6><%=new Date(session.fromTs).toTimeString().slice(0,8)%></h6>
                        </td>
                        <td></td>
                        <td>
                            <h4><%=new Date(session.toTs).toDateString()%></h4>
                            <h6><%=new Date(session.toTs).toTimeString().slice(0,8)%></h6>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <h2>Payment Details</h2>
                <h5 class="text-right">Total $<%=rates.total.toFixed(2)%></h5>
                <hr>
                <h6 class="text-right">Tax $<%=rates.tax.toFixed(2)%></h6>
                <hr>
                <h6 class="text-right">Net Total $<%=rates.netAmount.toFixed(2)%></h6>
                    
            </div> 
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Pay and Book</button>                        
</form>
    <script src="/js/phoneFormatter.js"></script>
<%- include('partials/footer') -%>