<%- include('partials/header') -%>
    <h1>Search for a parking space</h1>
    <form action="/search/distance">
      <div class="form-group col-md-6">
        <label for="userName">User name</label>
        <input type="text" id="userName" class='form-control' name='userName' placeholder="Username" autofocus required>
      </div>
    </form>
    <div id="map"></div>
    <script>
      function initMap() {
        
        var center = {lat: <%=markers[0][0]%>, lng: <%=markers[0][1]%> };
        var markers = [];
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: center,
            mapTypeControl: true,
            mapTypeControlOptions: {
              style:google.maps.MapTypeControlStyle.VERTICAL_BAR,
              position: google.maps.ControlPosition.BOTTOM_CENTER,
            },
            panControl: true,
            panControlOptions: {
              position: google.maps.ControlPosition.TOP_LEFT,
            },
            zoomControl: true,
            zoomControlOptions: {
              style: google.maps.ZoomControlStyle.LARGE,
              position: google.maps.ControlPosition.LEFT_CENTER,
            },
            scaleConrol: true,
            scaleControlOptions:{
              position: google.maps.ControlPosition.TOP_LEFT ,
            },
        });
        
        <% markers.forEach ((marker) => {%>
          console.log(<%=marker%>)
          var pin = new google.maps.Marker({
            position: new google.maps.LatLng(<%= marker[0]%>, <%= marker[1]%>),
            map: map
          });
          markers.push(pin)
        <%})%>
        console.log(markers)
        var i = 0;
        markers.forEach( marker => {
          marker.addListener("mouseover", () => {
            i++
            var infowindow = new google.maps.InfoWindow({
              content: JSON.stringify(marker)
            });
            infowindow.open(map, marker);
          })
        })
        
  
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDo9M13aqMKVLGTcQpzwH44CD7D1gzLNs&callback=initMap"></script>
  <%- include('partials/footer') -%>

  <!-- marker.addListener('click', function() {
    infowindow.open(map, marker);
  }); -->