<%- include('partials/header') -%>
    <h1>Maps</h1>
    <form action='/map' method='post' class='fluid' class="maps-form">
      <div class='row'>
        <div class='col fluid-form form-floating mb-3'>
          <input type="text" class='form-control input-field' name='location' placeholder="Please enter a location" autofocus required>
          <button class='btn btn-md btn-outline-dark' type="submit">Find the location</button>
        </div>
      </div>
  </form>
    <div><%= mapsData.lat%>, <%= mapsData.lng%>; <%= mapsData.location%></div>
    <div id="map"></div>
    <script>
      function initMap() {
        var locations = [
          ['Bondi Beach', -33.890542, 151.274856, 4],
          ['Coogee Beach', -33.923036, 151.259052, 5],
          ['Cronulla Beach', -34.028249, 151.157507, 3],
          ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
          ['Maroubra Beach', -33.950198, 151.259302, 1]
        ];
        var lat = <%= mapsData.lat %>;
        var lng = <%= mapsData.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: center,
            mapTypeControl: true,
            mapTypeControlOptions: {
              style:google.maps.MapTypeControlStyle.VERTICAL_BAR,
              position: google.maps.ControlPosition.BOTTOM_CENTER,
            },
            panControl: true,
            panControlOptions: {
              position: google.maps.ControlPosition.TOP_LEFT,
            },
            zoomControl: true,
            zoomControlOptions: {
              style: google.maps.ZoomControlStyle.LARGE,
              position: google.maps.ControlPosition.LEFT_CENTER,
            },
            scaleConrol: true,
            scaleControlOptions:{
              position: google.maps.ControlPosition.TOP_LEFT ,
            },
        });
        var contentString = `
          <strong><%= mapsData.name %><br />
          <%= mapsData.location %></strong>
          <p><%= mapsData.description %></p>
        `
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = []
        marker[0] = new google.maps.Marker({
            position: new google.maps.LatLng(locations[1][1], locations[1][2]),
            map: map
        });
        marker[1] = new google.maps.Marker({
            position: new google.maps.LatLng(locations[0][1], locations[0][2]),
            map: map
        }); 
        console.log(marker)
        marker[0].addEventListener('click', function() {
          infowindow.open(map, marker[0]);
        });
        marker[1].addEventListener('click', function() {
          infowindow.open(map, marker[1]);
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDo9M13aqMKVLGTcQpzwH44CD7D1gzLNs&callback=initMap"></script>
  <%- include('partials/footer') -%>