<%- include('partials/header') -%>
    <h3>Search for a parking spot here.</h3>
    <div class="container">
      <div class="search-container">
        <div>
          <form action="/search" method="get" class="fluid">
            <input type="text" id="location" name='location' class="form-control" placeholder="Enter a location" value='<%=inputVal.location%>' autofocus required>
                        <table>
                            <tr>
                                <th>Enter Before</th>
                                <th>Exit After</th>                            
                            </tr>
                            <tr>
                                <td><input class="form-control" type="datetime-local" name="fromTs" value="<%=inputVal.fromTs%>"></td>
                                <td><input class="form-control" type="datetime-local" name="toTs" value="<%=inputVal.toTs%>"></td>                            
                                <td><button class="search-btn" type="submit"><i class="fa-solid fa-arrow-right"></i></button></td>
                            </tr>
                            <tr>
                              
                            </tr>
                        </table>
          </form>
          <div class="all-listings">
            <%if(typeof listings != 'undefined') {%>
                <% if(listings.length > 0) { let i = 0%>
                    <% listings.forEach(listing => {%>
                            <div class="row list-items">
                                <div class="d-flex flex-row listing-row">
                                    <div><h3><%= ++i%></h3></div>
                                    <a href="/listing/<%=listing._id%>"><img class="listing-images p-2" src="data:image/<%=listing.images[0].contentType%>;base64,
                                            <%=listing.images[0].data.toString('base64')%>" alt="image for user"></a>
                                    <div class="p-2">
                                        <h5><%=listing.addressLine1%></h5>
                                        <p><%=listing.distance%> mts</p>
                                    </div>
                                    <div class="p-2">
                                        <h4>$<%=listing.hourlyRate%>/Hour</h4>
                                        <a class="book-listing" href="book/<%=listing._id%>">Book</a>
                                    </div>
                                </div>
                            </div>
                   <% }) %>
                <%}%>
            <%}%>
        </div>
          </div>
          <div>
            
          </div>
          <div>
            <div id="map">Nothing to display here</div>
          </div>
        </div>
    </div>
    
    <script>
      function initMap() {
        var labels = "123456789"
        let labelIndex = 0
        var center = {lat: <%=markers[0][0]%>, lng: <%=markers[0][1]%> };
        var markers = [];
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: center,
            mapTypeControl: true,
            mapTypeControlOptions: {
              style:google.maps.MapTypeControlStyle.VERTICAL_BAR,
              position: google.maps.ControlPosition.BOTTOM_CENTER,
            },
            panControl: true,
            panControlOptions: {
              position: google.maps.ControlPosition.TOP_LEFT,
            },
            zoomControl: true,
            zoomControlOptions: {
              style: google.maps.ZoomControlStyle.LARGE,
              position: google.maps.ControlPosition.LEFT_CENTER,
            },
            scaleConrol: true,
            scaleControlOptions:{
              position: google.maps.ControlPosition.TOP_LEFT ,
            },
        });
        const image = "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";
        <% markers.forEach ((marker) => { %>
          var pin = new google.maps.Marker({
            position: new google.maps.LatLng(<%= marker[0]%>, <%= marker[1]%>),
            map: map,
            label: labels[labelIndex++]
          });
          markers.push(pin)
        <%})%>
        

        var i = 0;
        markers.forEach( marker => {
          marker.addListener("mouseover", () => {
            i++
            var infowindow = new google.maps.InfoWindow({
              content: JSON.stringify(marker)
            });
            infowindow.open(map, marker);
          })
        })
        
  
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDo9M13aqMKVLGTcQpzwH44CD7D1gzLNs&callback=initMap"></script>
  <%- include('partials/footer') -%>
